@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 40rem;
  height: 40rem;
  background-color: $color-background-secondary;
  margin: auto;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;

  & h1 {
    height: 15%;
  }
}

.message {
  height: 6%;
  color: $color-danger;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  padding: 2rem;

  & .formGroup:not(:last-child) {
    margin-bottom: 1rem;
  }

  & button {
    margin: 0 auto;
    min-height: 4rem;
    width: 10rem;
    @include btn3d;
   
  }

  & .new {
    margin-top: 2rem;

    & a {
      color: $color-yellow-light;
      transition: all 0.2s ease;
      display: inline-block;
      margin-left: 1rem;

      @include hoverlink;
    }
  }
}
