@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: space-evenly;

  @include container;

  & h1 {
    height: 10%;
    text-align: start;
  }
}

.profile,
.orders {
  padding: 1.5rem;
}

.profile {
  width: 25%;

  & .message {
    height: 6%;
    & .danger {
      color: $color-danger;
    }
    & .success {
      color: $color-success;
    }
  }

  & .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .formGroup {
    margin-bottom: 0.6rem;
    width: 85%;
  }

  & button {
    width: 10rem;
    height: 4rem;
    @include btn3d;
  }
}

.orders {
  width: 65%;
}

.orderTable {
  @include tableScroll;
}

.row,
.entitled {
  width: 100%;
  display: grid;
  grid-template-columns: [id-start]28%[id-end date-start]13%[date-end total-start]12%[total-end paid-start]16%[paid-end deliver-start]16%[deliver-end btn-start]15%[btn-end];
  // grid-template-rows: repeat(auto-fit, 5rem);

  justify-items: stretch;

  & .cell {
    @include tableCel;
  }
}

.entitled {
  border-bottom: 1px solid $color-purple-mid;
  color: $color-blue-light;

  & h2 {
    font-size: 1.8rem;
  }
}

.row {
  border-top: 1px solid $color-purple-mid;

  &:hover {
    & .cell {
      background-color: rgba($color-secondary, 0.7);
    }
  }

  & .cell {
    & svg {
      fill: $color-danger;
      margin: auto;
    }

    & button {
      width: 10rem;
      height: 3rem;
      @include btnFlat;
    }
  }
}
