@import "../../../sass//variables.scss";

.container {
  width: 80%;
  height: 95%;
  background-color: $color-background-secondary;
  margin: 2% auto 0 auto;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-evenly;
  & h1 {
    height: 10%;
    font-family: "Audiowide", cursive;
    color: $color-yellow-light;
    text-align: start;
  }
}

.profile,
.orders {
  padding: 1.5rem;
}

.profile {
  width: 30%;

  & .message {
    height: 6%;
    & .danger {
        color: $color-danger;
    }
    & .success {
        color:$color-success;
    }
    
  }

  & .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .formGroup  {
    margin-bottom: 0.6rem;
    width: 85%;
  }

  & button {
    &,
    &:link,
    &:visited {
      outline: none;
      width: 10rem;
      cursor: pointer;
      height: 4rem;
      padding: 0 1rem;
      font-size: 1.5rem;
      text-align: center;
      background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
      background-color: transparent;
      border: 1px $color-yellow-light solid;
      color: $color-yellow-light;
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      transition: all 0.2s;
    }

    &:hover {
      background-color: $color-yellow-light;
      color: $color-secondary;
      border: none;
      transform: translateY(0px);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.orders {
  width: 60%;
}
