@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: $bp-mobile-land) {
    flex-direction: column;
  }

  @include container;

  @media screen and (max-width: $bp-mobile-land) {
    padding: 1rem;
  }

  & h1 {
    height: 10%;
    text-align: start;

    @media screen and (min-width: $bp-mobile-vert) and (max-width: $bp-mobile-land) {
      font-size:2rem;
    }
  }
}

.profile,
.orders {
  padding: 1.5rem;

  @media screen and (max-width: $bp-mobile-land) {
    padding: 0;
  }
}

.profile {
  width: 25%;

  @media screen and (max-width: $bp-mobile-land) {
    width: 100%;
    height: 35%;
  }

  @media screen and (max-width: $bp-mobile-vert) {
    height: 50%;
  }

  & .message {
    height: 6%;
    & .danger {
      color: $color-danger;
    }
    & .success {
      color: $color-success;
    }
  }

  & .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: $bp-mobile-land) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  & .empty {
    @media screen and (max-width: $bp-mobile-land) {
      display: none;
    }
  }

  & .formGroup {
    margin-bottom: 0.6rem;
    width: 85%;

    @media screen and (max-width: $bp-mobile-land) {
      width: 27%;
    }

    @media screen and (max-width: $bp-mobile-vert) {
      width: 45%;
    }

    &.upload {
      height: 4rem;
    }
  }

  & button {
    width: 10rem;
    height: 4rem;
    @include btn3d;
  }
}

.orders {
  width: 65%;

  @media screen and (max-width: $bp-mobile-land) {
    width: 100%;
    height: 65%;
  }

  @media screen and (max-width: $bp-mobile-vert) {
    height: 50%;
  }
    
}

.orderTable {
  @include tableScroll;
}

.row,
.entitled {
  width: 100%;
  display: grid;
  grid-template-columns: [id-start]28%[id-end date-start]13%[date-end total-start]12%[total-end paid-start]16%[paid-end deliver-start]16%[deliver-end btn-start]15%[btn-end];
  // grid-template-rows: repeat(auto-fit, 5rem);

  justify-items: stretch;

  & .cell {
    @include tableCel;
  }
}

.entitled {
  border-bottom: 1px solid $color-purple-mid;
  color: $color-blue-light;

  & h2 {
    font-size: 1.8rem;
  }
}

.row {
  border-top: 1px solid $color-purple-mid;

  &:hover {
    & .cell {
      background-color: rgba($color-secondary, 0.7);
    }
  }

  & .cell {
    & svg {
      fill: $color-danger;
      margin: auto;
    }

    & button {
      width: 10rem;
      height: 3rem;
      @include btnFlat;

      @media screen and (max-width: $bp-mobile) {
        width:6rem;
      }

      & svg{
        fill:$color-yellow-light;
        font-size:2.5rem;
        @media screen and (min-width: $bp-mobile) {
          display:none;
        }
      }

      & p {
        @media screen and (max-width: $bp-mobile) {
          display:none;
        }
      }
    }
  }
}
