@import "../../../sass/variables";
@import "../../../sass/mixins";
.navigation {
  width: 57rem;
  height: 10%;
  margin: auto;

  & .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    & hr {
      width: 10%;
      color: $color-success;

      &[disabled=""] {
        color: $color-grey-light-2;
      }
    }

    & .item {
      //   width: 20%;
      & a {
        color: $color-success;

        &[disabled] {
          color: $color-grey-light-2;
          cursor: default;
        }
      }
    }
  }
}
