@import "../../../sass//variables";

.flipcard {
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
  height: 100%;
  // margin-top:10px;
  perspective: 1000px;
  font-size: 0.9rem;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: -2px 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
  filter: hidden;
}

.flipcard:hover.flipcardfront,
.flipcard:hover.flipcardback {
  filter: hidden;
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px/5px;
  filter: drop-shadow(2px 2px 4px black);
}

.flipcardfront img {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}

.flipcardback {
  background: rgba(237, 237, 237, 1);
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(237, 237, 237, 1) 33%,
    rgba(255, 255, 255, 1) 47%,
    rgba(245, 245, 245, 1) 58%,
    rgba(245, 245, 245, 1) 60%,
    rgba(245, 245, 245, 1) 70%,
    rgba(245, 245, 245, 1) 75%
  );
  color: $color-secondary;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  transform: rotateY(180deg);
  overflow: hidden;
  text-overflow: ellipsis;

  & p {
    margin: auto;
    max-height: 90%;
  }
}
