@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 90%;
  height: 90%;
  @include container;

  & h2 {
    color: $color-yellow-light;
    text-transform: capitalize;
  }
}

.content {
  width: 95%;
  height: 95%;

  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: repeat(2, 20%) repeat(2, 30%);
  grid-column-gap: 5%;

  & > div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & strong {
      font-size: 1.7rem;
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }
}

.shipping {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid $color-blue-mid;
}

.payment {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-bottom: 1px solid $color-blue-mid;
}

.order {
  grid-column: 1 / 2;
  grid-row: 3 / -1;

  & .items {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin !important;

    & .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      height: 33%;
      padding: 0.5rem;

      & img {
        height: 100%;
        min-width: 8%;
        max-width: 8%;
        object-fit: cover;
        display: block;
        box-shadow: $box-shadow-dark;
      }

      & a {
        transition: all 0.2s ease;
        display: inline-block;
        margin-left: 1rem;
        @include hoverlink;
      }

      & span {
        font-weight: 700;
        margin-right: 3rem;
      }
    }
  }
}

.summary {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  & h5 {
    text-transform: uppercase;
  }
}

.card {
  border: 1px solid $color-purple-mid;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow-dark;

  & div {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      height: 22%;
    }

    &:last-child {
      height: 18%;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-purple-mid;
    }

    & label {
      width: 30%;
      text-align: start;
    }

    & p {
      min-width: 30%;
    }

    & button {
      width: 80%;
      height: 80%;
      margin: auto;
      @include btnFlat;
    }
  }
}
