@import "../../../sass/variables.scss";

.container {
  width: 80%;
  height: 90%;
  background-color: $color-background-secondary;
  margin: 2% auto 0 auto;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: [image-start] repeat(2, 20%) [image-end detail-start] 26% [detail-end add-start] 26% [add-end];
  grid-template-rows: [back-start] 10% [back-end image-start] repeat(4, 20%) [image-end ];
  grid-gap: 2%;
}

.btn {
  grid-column: 1 / 2;
  grid-row: back-start / back-end;

  border: 1px solid $color-grey-light-1;
  background-color: $color-grey-dark;
  color: $color-grey-light-1;
  width: 50%;
  height: 80%;
  transform: translateY(0px);
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  & .text {
    font-family: "Montserrat", sans-serif;
  }

  & svg {
    font-size: 3rem;
  }

  &:hover {
    filter: invert(1);
  }

  &:active {
    transform: translateY(2px);
  }
}

.image {
  grid-column: image-start / image-end;
  grid-row: image-start/ image-end;

  & img {
    width: 80%;
    height: 100%;
  }
}

.details {
  grid-column: detail-start / detail-end;
  grid-row: 1 / 5;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & h1 {
    font-family: "Audiowide", cursive;
    font-size: 3rem;
    color: $color-yellow-light;
  }

  & hr {
    width: 70%;
    color: $color-purple-mid;
  }
}

.add {
  grid-column: add-start / add-end;
  grid-row: 1/ 4;

  width: 80%;
  height: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-purple-mid;

  & div {
    width: 100%;
    height: 25%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid $color-purple-mid;
    }

    & button {
      width: 80%;
      height: 4rem;
      margin: auto;
      background: transparent;
      color: $color-yellow-light;
      font-size: 1.5rem;
      border: 1px solid $color-yellow-light;
      transition: all 0.2s ease;

      &:hover {
        background-color: $color-yellow-light;
        color: $color-secondary;
        border: none;
        transform: translateY(0px);
      }

      &:active {
        transform: translateY(2px);
      }

      &:disabled {
        background: grey;
        border: none;
        color: $color-grey-dark;

        &:active {
          transform: translateY(0px);
        }
      }
    }
  }

  & .qty {
    & .select {
      height: 3.5rem;
      width: 5rem;
      align-self: center;
      display: flex;
      align-items: center;
      position: relative;

      border: none;
      border-radius: 0.25em;
      padding: 0.25em 0.5em;

      font-size: 1.25rem;
      cursor: pointer;
      line-height: 1.1;

      // Optional styles
      // remove for transparency
      background-color: #fff;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

      // Custom arrow
      &::after {
        content: "";
        margin-left: -1rem;
        width: 0.8em;
        height: 0.5em;
        background-color: $color-grey-dark;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    }
  }

  & .addBtn {
    width: 100%;
  }
}

.review {
  grid-column: detail-start / detail-end;
  grid-row: 5 / image-end;
}

.write {
  grid-column: add-start / add-end;
  grid-row: 4 / image-end;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var($color-yellow-light);
  border-radius: inherit;
}
