@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  height: 100%;
  width: 90%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  // display: grid;
  // grid-template-columns: 5rem repeat(4, 1fr) 5rem;
  // grid-template-rows: repeat(auto-fit, 47%) 6%;
}

.cardsContainer {
  height: 95%;
  width: 100%;
  padding:0 4rem;
  overflow-y: auto;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 47%);
  grid-gap:2rem;
  

  &::-webkit-scrollbar {
    display: none;
  }
}

.paginate {
  height: 5%;
}

.cardContainer {
  width: 100%;
  height: 100%;
  
}
