@import "../../../sass/variables.scss";

.container {
  width: 40%;
  height: 95%;
  background-color: $color-background-secondary;
  margin: auto;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;

  & h1 {
    height: 10%;
    text-transform: uppercase;
    text-align: start;
    color:$color-yellow-light;
  }
}

.message {
  height: 5%;
  color: $color-danger;
}

.form {
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;


    & button {
      text-transform: uppercase;
      cursor: pointer;
      width: 20%;
      height: 4rem;
      background: transparent;
      color: $color-yellow-light;
      font-size: 1.5rem;
      border: 1px solid $color-yellow-light;
      transition: all 0.2s ease;

      &:hover {
        background-color: $color-yellow-light;
        color: $color-secondary;
        border: none;
        transform: translateY(0px);
      }

      &:active {
        transform: translateY(2px);
      }
    }
}
