@import "../../../sass/variables";

.container {
  width: 40%;
  height: 95%;
  background-color: $color-background-secondary;
  margin: auto;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;

  & h1 {
    height: 10%;
    text-transform: uppercase;
    text-align: start;
    color:$color-yellow-light;
  }
}

.message {
  height: 5%;
  color: $color-danger;
}

.form {
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;


    & button {
      text-transform: uppercase;
      width: 20%;
      height: 4rem;
     @include btn3d;
    }
}
