@import '../../sass/variables.scss';

.carousel3d {
  perspective: 5000px;
  margin: 10% auto auto auto;

  @media screen and (max-width: $bp-mobile-land) {
    margin: 5% auto;
  }

  @media screen and (max-width: $bp-mobile-vert) {
    margin: 30% auto;
  }
}

.allPlan {
  width: 10%;
  height: 50%;
  margin: 12% auto;
  transform-style: preserve-3d;
  animation: Carousel 20s infinite linear;
  -webkit-animation: Carousel 20s infinite linear;

  & img {
    position: absolute;
    height: 250px;
    width: 250px;
    text-align: center;

    @media screen and (max-width: $bp-mobile-land) {
      width: 150px;
      height: 150px;
    }
  }

  & .p1 {
    transform: translateZ(380px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: translateZ(200px);
    }
  }

  & .p2 {
    transform: rotateY(60deg) translateZ(350px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: rotateY(60deg) translateZ(180px);
    }
  }

  & .p3 {
    transform: rotateY(120deg) translateZ(350px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: rotateY(120deg) translateZ(180px);
    }
  }

  & .p4 {
    transform: rotateY(180deg) translateZ(350px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: rotateY(180deg) translateZ(180px);
    }
  }

  & .p5 {
    transform: rotateY(240deg) translateZ(350px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: rotateY(240deg) translateZ(180px);
    }
  }

  & .p6 {
    transform: rotateY(300deg) translateZ(350px);

    @media screen and (max-width: $bp-mobile-land) {
      transform: rotateY(300deg) translateZ(180px);
    }
  }
}

@keyframes Carousel {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
