.carousel3d {
  perspective: 5000px;
  margin: 10% auto auto auto ;
  grid-row: 2 / span 2;
}

.allPlan {
  width: 10%;
  height: 50%;
  margin: 12% auto;
  transform-style: preserve-3d;
  animation: Carousel 20s infinite linear;
  -webkit-animation: Carousel 20s infinite linear;

  & img {
    position: absolute;
    height: 250px;
    width: 250px;
    text-align: center;
  }

  & .p1 {
    transform: translateZ(380px);
  }

  & .p2 {
    transform: rotateY(60deg) translateZ(350px);
  }

  & .p3 {
    transform: rotateY(120deg) translateZ(350px);
  }

  & .p4 {
    transform: rotateY(180deg) translateZ(350px);
  }

  & .p5 {
    transform: rotateY(240deg) translateZ(350px);
  }

  & .p6 {
    transform: rotateY(300deg) translateZ(350px);
  }
}

@keyframes Carousel {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
