
@mixin hoverlink {
    &:hover,
    &:active {
      box-shadow: 0 1rem 2rem $color-secondary;
      transform: scale(1.2);
    }
  }
  
  @mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @mixin centerElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin container {
    background-color: $color-background-secondary;
    margin: auto;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    border-radius: 4px;
  }
  
  @mixin btnFlat($color: $color-yellow-light) {
    &,
    &:link,
    &:visited {
      outline: none;
      cursor: pointer;
      padding: 0 1rem;
      font-size: 1.5rem;
      text-align: center;
      background-color: transparent;
      border: 1px $color solid;
      color: $color;
      transition: all 0.2s;
    }
  
    &:hover {
      background-color: $color;
      color: $color-secondary;
      border: none;
      transform: translateY(0px);
    }
  
    &:active {
      transform: translateY(2px);
    }
  
    &:disabled {
      background: grey;
      border: none;
      color: $color-grey-dark;
      cursor: default;
  
      &:hover {
        background: grey;
        color: $color-grey-dark;
      }
  
      &:active {
        transform: translateY(0px);
      }
    }
  }
  
  @mixin btn3d($color: $color-yellow-light) {
    &,
    &:link,
    &:visited {
      outline: none;
      cursor: pointer;
      padding: 0 1rem;
      font-size: 1.5rem;
      text-align: center;
      background-color: transparent;
      border: 1px $color solid;
      color: $color;
      background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      transition: all 0.2s;
    }
  
    &:hover {
      background-color: $color;
      color: $color-secondary;
      border: none;
      transform: translateY(0px);
    }
  
    &:active {
      transform: translateY(2px);
    }
  
    &:disabled {
      background: grey;
      border: none;
      color: $color-grey-dark;
      cursor: default;
  
      &:hover {
        background: grey;
        color: $color-grey-dark;
      }
  
      &:active {
        transform: translateY(0px);
      }
    }
  }
  
  @mixin btnTopSlide($bgColor: $color-yellow-light, $color: $color-secondary) {
    .btn {
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      border: none;
      background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      background-color: $bgColor;
      font-size: 1.5rem;
      color: $color;
      position: relative;
      overflow: hidden;
  
      & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all 0.2s;
      }
  
      &__visible {
        padding: 1.5rem 4rem;
      }
  
      &__invisible {
        position: absolute;
        left: 0;
        top: -100%;
        padding: 1.5rem 0;
      }
  
      &:hover {
        background-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.2) 30%,
          rgba(0, 0, 0, 0)
        );
      }
  
      &:hover &__visible {
        transform: translateY(100%);
      }
  
      &:hover &__invisible {
        top: 0;
      }
    }
  }
  
  @mixin tableScroll($borderColor: $color-purple-mid) {
    display: flex;
    flex-direction: column;
    max-height: 85%;
    border: 1px solid $borderColor;
    box-shadow: $box-shadow-dark;
    margin: auto;
  
    & .items {
      overflow-y: auto;
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
  @mixin tableCel($borderColor: $color-purple-mid) {
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
  
    &:not(:last-child) {
      border-right: 1px solid $borderColor;
    }
  }
  