// COLOR VARIABLES

$color-success: rgb(102, 205, 170);
$color-danger: rgb(252, 143, 143);

$color-yellow-light: rgb(247, 215, 157, 0.8);
$color-yellow-dark: rgba(46, 38, 25, 0.8);

$color-brown-light: rgb(248, 223, 163, 0.3);
$color-brown-dark: #b28451;
$color-brown-mid: #c6996350;

$color-secondary: rgb(16, 29, 44);
$color-secondary-trans: rgba(16, 29, 44, 0.801);
$color-secondary-light: rgba(31, 20, 78, 0.767);

$color-grey-light-1: rgb(249, 247, 246);
$color-grey-light-2: rgb(170, 170, 170);
$color-grey-dark: rgb(54, 58, 63);

$color-purple-dark: #370e47bb;
$color-purple-mid: #ac4e9bc2;
$color-purple-light: #eabfd6;

$color-blue-light: rgb(214, 221, 255);
$color-blue-mid: rgb(118, 148, 212);

$color-background-secondary: rgb(75, 71, 71, 0.7);

// SHADOWS
$box-shadow-dark: 0 0.5rem 2rem $color-secondary;
$box-shadow-light: -4px 4px 8px -2px rgba(237, 213, 180, 0.63);

//BORDER
$border-dev: 1px solid white;

// FONT VARIABLES
$font-primary: "Montserrat", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-starwars-n: "Star wars";
$font-starwars-i: "Star wars1";
$font-number: "Quantity";

//TYPOGRAPHIE

// RESPONSIVE BREAKPOINTS
$bp-largest: 110em; // 1760px
$bp-large: 105.63em; // 1690px
$bp-medium: 87.95em; // 1400px
$bp-small: 79.06em; //1265px
$bp-tab: 76.32em; //1221px
