// COLOR VARIABLES

$color-success: rgb(102, 205, 170);
$color-danger: rgb(252, 143, 143);

$color-yellow-light: rgb(247, 215, 157, 0.8);
$color-yellow-dark: rgba(46, 38, 25, 0.8);

$color-brown-light: rgb(248, 223, 163, 0.3);
$color-brown-dark: #b28451;
$color-brown-mid: #c6996350;

$color-secondary: rgb(16, 29, 44);
$color-secondary-trans: rgba(16, 29, 44, 0.801);
$color-secondary-light: rgba(31, 20, 78, 0.767);

$color-grey-light-1: rgb(249, 247, 246);
$color-grey-light-2: rgb(170, 170, 170);
$color-grey-dark: rgb(54, 58, 63);

$color-purple-dark: #370e47bb;
$color-purple-mid: #ac4e9bc2;
$color-purple-light: #eabfd6;

$color-blue-light: rgb(214, 221, 255);
$color-blue-mid: rgb(118, 148, 212);

$color-background-secondary: rgb(75, 71, 71, 0.6);

// SHADOWS
$box-shadow-dark: 0 0.5rem 2rem $color-secondary;
$box-shadow-light: -4px 4px 8px -2px rgba(237, 213, 180, 0.63);

//BORDER
$border-dev: 1px solid white;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-starwars-n: "Star wars";
$font-starwars-i: "Star wars1";

//TYPOGRAPHIE

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

// MIXIN
@mixin hoverlink {
  &:hover,
  &:active {
    box-shadow: 0 1rem 2rem $color-secondary;
    transform: scale(1.2);
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btnFlat($color: $color-yellow-light) {
  &,
  &:link,
  &:visited {
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px $color solid;
    color: $color;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color;
    color: $color-secondary;
    border: none;
    transform: translateY(0px);
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    background: grey;
    border: none;
    color: $color-grey-dark;
    cursor:default;

    &:hover {
      background: grey;
      color: $color-grey-dark;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}

@mixin btn3d($color: $color-yellow-light) {
  &,
  &:link,
  &:visited {
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.5rem;

    text-align: center;
    background-color: transparent;
    border: 1px $color solid;
    color: $color;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color;
    color: $color-secondary;
    border: none;
    transform: translateY(0px);
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    background: grey;
    border: none;
    color: $color-grey-dark;
    cursor:default;

    &:hover {
      background: grey;
      color: $color-grey-dark;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}

@mixin btnTopSlide($bgColor: $color-yellow-light, $color: $color-secondary) {
  .btn {
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    background-color: $bgColor;
    font-size: 1.5rem;
    color: $color;
    position: relative;
    overflow: hidden;

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    &__visible {
      padding: 1.5rem 4rem;
    }

    &__invisible {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 1.5rem 0;
    }

    &:hover {
      background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
    }

    &:hover &__visible {
      transform: translateY(100%);
    }

    &:hover &__invisible {
      top: 0;
    }
  }
}
