@import '../../sass/variables.scss';

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  background-color: rgba($color-secondary,0.6);
  display:flex;
  align-items:center;
  & svg{
    margin-right:3px;
    font-size:1.8rem;
  }
}
