@import "./sass/variables";
@import "./sass/base";
@import "./sass/typographie";

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  overflow: hidden;
  background: #000108;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(./images/background/orion-1920.jpg) no-repeat center fixed;
  background-size: cover;
  color: $color-grey-light-1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: [header-start] 10% [header-end main-start]repeat(4, 1fr) [main-end footer-start] 5% [footer-end];
  grid-template-columns: [full-start] repeat(10, 10%) [full-end];

  grid-row-gap: 2rem;

  @media screen and (max-width: $bp-mobile-land) {
    grid-template-rows: [header-start] 20% [header-end main-start]repeat(4, 1fr) [main-end footer-start] 5% [footer-end];

  }

  & .header {
    grid-row: header-start / header-end;
    grid-column: 1 / -1;
  }

  & .main {
    grid-row: main-start / main-end;
    grid-column: 1 / -1;

    display: flex;
  }

  & .footer {
    grid-row: footer-start / footer-end;
    grid-column: 1 / -1;
  }
}


