$shooting-time: 3000ms;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: none;

  & .card1,
  .card2,
  .card3 {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }

  & .card1 {
    width: 90%;
    height: 90%;
    background-image: url(./images/background/orion-1920-1.png);
    opacity: 0.5;
  }

  & .card2 {
    width: 80%;
    height: 80%;
    background-image: url(./images/background/midground.png);
  }

  & .card3 {
    width: 90%;
    height: 90%;
    background-image: url(./images/background/midground.png);
  }

  .night {
    position: relative;
    width: 200%;
    height: 200%;
    transform: rotateZ(45deg);
    // animation: sky 200000ms linear infinite;
  }

  .shootingStar {
    position: absolute;
    left: 50%;
    top: 50%;
    // width: 100px;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(95, 145, 255, 1),
      rgba(0, 0, 255, 0)
    );
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail $shooting-time ease-in-out infinite,
      shooting $shooting-time ease-in-out infinite;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      // width: 30px;
      height: 2px;
      background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
      );
      transform: translateX(50%) rotateZ(45deg);
      border-radius: 100%;
      animation: shining $shooting-time ease-in-out infinite;
    }

    &::after {
      // CodePen Error
      // @extend .shooting_star::before;

      content: "";
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      // width: 30px;
      height: 2px;
      background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
      );
      transform: translateX(50%) rotateZ(45deg);
      border-radius: 100%;
      animation: shining $shooting-time ease-in-out infinite;
      transform: translateX(50%) rotateZ(-45deg);
    }

    @for $i from 1 through 5{
      &:nth-child(#{$i}) {
        $delay: random(99999) + 3000ms;
        top: calc(50% - #{random(600) - 200px});
        left: calc(50% - #{random(600) + 0px});
        animation-delay: $delay;
        

        &::before,
        &::after {
          animation-delay: $delay;
        }
      }
    }
  }

  @keyframes tail {
    0% {
      width: 0;
    }

    30% {
      width: 100px;
    }

    100% {
      width: 0;
    }
  }

  @keyframes shining {
    0% {
      width: 0;
    }

    50% {
      width: 10px;
    }

    100% {
      width: 0;
    }
  }

  @keyframes shooting {
    0% {
      transform: translateX(-200px);
      
    }

    100% {
      transform: translateX(400px);
    }
  }

  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }

    100% {
      transform: rotate(45 + 360deg);
    }
  }
}
