@import '../../sass/variables.scss';

.container {
  position: relative;
}

.btn {
  &,
  &:link,
  &:visited {
    width: 13rem;
    cursor: pointer;
    border: none;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    background-color: $color-purple-dark;
    color: $color-grey-light-1;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-grey-light-1;
    color: $color-secondary;
    border: none;
    transform: translateY(0px);
  }

  &:active {
    transform: translateY(2px);
  }

  & svg {
    margin-left: 1rem;
    transform: translateY(2px);
  }
}

.menu {
  background: $color-grey-light-1;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;

  box-shadow: 0 1px 4px rgba(252, 250, 250, 0.89);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.4s ease;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li:not(:last-child) {
      border-bottom: 1px solid #dddddddd;
    }
  }

  & li {
    border-radius: 8px;
    transition: background 0.2s ease-in;
    &:hover {
      background: $color-brown-light;
    }
    & a {
      padding: 1rem 1rem;
      text-decoration: none;
      text-transform:capitalize;
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-grey-dark;
      display: block;
    }
  }
}
