@import "../../sass/variables";
@import "../../sass/mixins";
.container {
  height: 100%;
  background-color: transparent;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: [logo-start] 15% [logo-end nav-start] 30% [nav-end search-start] 20% [search-end action-start] 36% [action-end];

  @media screen and (max-width: $bp-mobile-land) {
    grid-template-columns: [logo-start] 20% [logo-end search-start] 50% [search-end action-start] 30% [action-end];
  }

  @media screen and (max-width: $bp-mobile-vert) {
    grid-template-columns: [logo-start] 50% [logo-end action-start] 50% [action-end];
    grid-template-rows: repeat(2, 1fr)
    
  }

  align-content: center;
}

.navigation {
  margin:auto;
  @media screen and (max-width:$bp-mobile-land) {
    display:none;
  }
}
