@import '../../sass/variables';

.container {
  height: 100%;
  background-color: transparent;
  padding: 2rem;

  display: grid;
  grid-template-columns: [logo-start] 15% [logo-end nav-start] 37% [nav-end search-start] 26% [search-end action-start] 23% [action-end];

  align-content: center;
}
