@import "../../sass/variables";
@import "../../sass/mixins";
.container {
  height: 100%;
  background-color: transparent;
  padding: 2rem;

  display: grid;
  grid-template-columns: [logo-start] 15% [logo-end nav-start] 30% [nav-end search-start] 20% [search-end action-start] 36% [action-end];

  @media screen and (max-width: $bp-mobile) {
    grid-template-columns: [logo-start] 20% [logo-end search-start] 40% [search-end action-start] 40% [action-end];
  }

  align-content: center;
}
