.logo {
  outline:none;
  grid-column: logo-start / logo-end;
  & img {
    width: 80%;
    margin:2rem 2rem 0 0;
    filter: invert(1) brightness(150%)
      drop-shadow(8px 3px 10px rgb(255, 252, 252));
    -webkit-filter: invert(1) brightness(150%)
      drop-shadow(8px 3px 10px rgb(255, 253, 253));
  }
}
