@import "../../sass/variables.scss";

.navigation {
  width: 100%;
  height: 100%;
  & .list {
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  & .item {
    margin: 1rem;
  }

  & .link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      border-radius: 15px;
      font-family: $font-starwars-i;
      font-weight: 300;
      color: white;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-brown-light 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-grey-light-1;
      transform: translateY(-0.3rem);
    }
  }
}

.cart {
  height: 3rem;
  margin-left:-4rem;

  filter: invert(1) brightness(150%)
    drop-shadow(8px 8px 10px rgb(255, 252, 252));
  -webkit-filter: invert(1) brightness(150%)
    drop-shadow(8px 8px 10px rgb(255, 253, 253));
}

.qty {
  font-family: "Quantity";
  color: orange;
  margin: auto;
}
