@import '../../sass/variables.scss';

.container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & .avatar {
    width: 20%;
    & img {
      width: 80%;
      border-radius: 100px;
    }
  }
}
