@import "../../sass/variables";

.container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & .avatar {
    width: 16%;
    & img {
      cursor: pointer;
      width: 80%;
      border-radius: 100px;
      transform: scale(1);
      transition: all 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
