@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 90%;
  height: 95%;
  @include container;

  & .title {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}

.ordersTable {
  @include tableScroll;
}

.row,
.entitled {
  width: 100%;
  display: grid;
  grid-template-columns: [id-start]25%[id-end user-start]20%[user-end date-start] 10%[date-end price-start]15%[price-end paid-start]10%[paid-end deliver-start]10%[deliver-end action-start]10%[action-end];

  justify-items: stretch;

  & .cell {
    @include tableCel;
  }
}

.entitled {
  border-bottom: 1px solid $color-purple-mid;
  color: $color-blue-light;

  & h2 {
    font-size: 1.8rem;
  }
}

.row {
  border-top: 1px solid $color-purple-mid;

  &:hover {
    & .cell {
      background-color: rgba($color-secondary, 0.7);
    }
  }

  & svg {
    fill: $color-danger;
    margin: auto;
  }

  & button {
    width: 10rem;
    height: 3rem;
    margin: auto;

    @include btnFlat;
  }
}
