@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  width: 80%;
  max-height: 100%; 
  @include container;

  & h1 {
    text-align: start;
    margin-bottom: 2rem;

    @media screen and (max-width:$bp-mobile-land) {
      margin:-2rem 0 .5rem 0;
    }
  }
}

.usersTable {
  @include tableScroll;
}

.row,
.entitled {
  width: 100%;
  display: grid;
  grid-template-columns: [id-start]25%[id-end name-start]20%[name-end email-start]20%[email-end admin-start]15%[admin-end actions-start]20%[actions-end];
  // grid-template-rows: repeat(auto-fit, 5rem);

  justify-items: stretch;

  & .cell {
   @include tableCel;
  }
}

.entitled {
  border-bottom: 1px solid $color-purple-mid;
  color: $color-blue-light;

  & h2 {
    font-size: 1.8rem;
  }
}

.row {
  border-top: 1px solid $color-purple-mid;

  & .success {
    margin: auto;
    color: $color-success;
  }
  & .danger {
    margin: auto;
    color: $color-danger;
  }

  &:hover {
    & .cell {
      background-color: rgba($color-secondary, 0.7);
    }
  }

  & button {
    width: 30%;
    height: 90%;
    margin: auto;
    &.edit {
      @include btn3d($color-blue-mid);
    }

    &.delete {
      @include btn3d($color-danger);
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 45 45%;
  grid-template-columns: repeat(2, 45%);
  grid-gap: 10%;

  & h4 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    margin: auto;
  }

  & button {
    margin: auto;
    width: 10rem;
    height: 4rem;

    &.validate {
      margin-right: 50%;
      @include btn3d($color-success);
    }

    &.cancel {
      margin-left: 50%;
      @include btn3d($color-danger);
    }
  }
}
